// ______________________________PAGE ANNUAIRE_______________________________
// ---------> Title
#title_annuaire{
    background-image: url(img/TITLE/image_title8.jpg);
    background-position:center ;
    background-size: cover;
    background-repeat:no-repeat;
}