// ______________________________PAGE CONTACT_______________________________
// ---------> Title
#title_contact{
    background-image: url(img/TITLE/image_title6.jpg);
    background-position:center ;
    background-size: cover;
    background-repeat:no-repeat;
}