// ______________________________________CSS PAGE FEFERATION _______________________________
// ---------> Titre 
#title_federation{
 background-image: url(img/TITLE/image_title1.jpg);
 background-position:top ;
 background-size: cover;
 background-repeat:no-repeat;
}
// ---------> Liste des point de la fédération 
.paragraphe_fede{
    height: 70%;
    display: flex;
    text-align: center;
    font-size:20px;
    li{
        list-style: none;
         margin:15px;
        }
}
// ---------------PARTIE STATUS SCOP-------------//
// ------> status scop
#statut{
    display: flex;
    width: auto;
    iframe{margin-right: 20px;}
}
//_________________>LES FLECHES
// ------> box schema 
.fleche{
    height: 200px;
    display: flex;
    width: 90%;
    color:#588623; 
}
// -------> un element ( chiffre + texte + fleche )
.wrapper{
    // border: 3px solid red;
    width: 350px;
    display: flex;
    .explain_arrow{
         //border: 3px solid orange;
        width: 200px;
        display: flex;
        flex-direction: column;
        font-size: 1em;
        .display-4{ color: #949393 }
        .text_arrow{width: 50%;} 
    }
}
// ------> triangle / fleche 
.triangle.right {
    border: 6px solid #588623;
    border-width: 0 0 6px 6px;
    width: 120px;
    height: 120px;
    line-height: 0;
    font-size:0;
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate((-135deg));
    margin-right: 40px;   
}
// ----> texte sous les flèches 
.fleche_number_text{
    height: 200px;
    display: flex;
    width: 90%;
    font-size: 18px;
    justify-content: space-around;
   
}
// ________________________________MEDIA QUERIES_________________________________//
@media only screen and (min-width: 150px )and(max-width:900px){
.paragraphe_fede{
    height: 70%;
    display: flex;
    align-items: center;
    font-size:20px;      
}
#box_chiffre{
    display: block;
    text-align: center;
}
#statut{   
    display: flex;
    flex-direction: column;
    align-items: center;
    .vidos{
        width: auto;
        iframe{
            width: 80%;
            height: auto;
        }
    }
}
.fleche{
    height: auto;
    display: flex;
    flex-direction: column;
    width: 90%;
    color:#588623;      
 }
.fleche_number_text{
    display: none;
}
.wrapper{
    border-bottom: 3px solid lightgray;
    margin-bottom: 40px;    
}
}
