#bloc_logo_partenaire{
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;   
}

//  slide logo

div#slider{ 
    width: 100%;
    max-width: 1000px; 
    // border: 1px solid red;
    overflow: hidden;
    height: 250px;
}

div#slider figure{ 
    // border: 2px solid yellowgreen;
    position: relative;
    width: 500%;
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: left;
    animation: slidy 25s infinite;
}
div#slider figure img{ 
    width: 5%; 
    height: auto;
    float: left;
    display: inline;
    }

@keyframes slidy {
    0%{left: 0%;}
    20%{left: 0%;}
    25%{left: -100%;}
    45%{left: -100%;}
    50%{left: -200%;}
    70%{left: -200%;}
    75%{left: -300%;}
    95%{left: -300%;}
    100%{left: -400%;}

}