// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Oswald', sans-serif;
$font-size-base: 1.5rem;
$line-height-base: 1.6;


// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #588623;
$teal: #4dc0b5;
$cyan: #6cb2eb;



